* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E6DBD5;
    font-family: 'Questrial', sans-serif;
    overflow: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    color: #5c4235;
    margin: 10px 0 10px 0;
    font-size: 12px;
    line-height: 1.5;
}

h2 {
    color: #7b7775;
}

header {
    width: 100%;
    padding: 20px;
}

main {
    margin-top: 40px;
}

.container {
    max-width: 80%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    box-shadow: 0 0 10px 1px grey;
    border-radius: 10px;

}

h1 {
    text-transform: uppercase;
    color: #5c4235;
    margin-top: 30px;
}

header p {
    margin-bottom: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

nav ul li {
    list-style: none;
    padding: 30px 30px 0 30px;
    transition: 2s;
}

nav ul li:hover {
    transition: 5s;
    border-bottom: 1px solid grey;

}

nav ul li img {
    width: 22px;
    height: 22px;
}

nav ul li a {
    color: #5c4235;
}

.section-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-img img {
    max-width: 100%;
}

.article {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

article {
    display: flex;
    margin-top: 30px;
    border-bottom: 1px solid rgb(183, 183, 183);
    padding-bottom: 30px;
}

.article-text {
    text-align: initial;
    font-size: 12px;
    width: calc(100% - 230px);
    margin-left: 20px;
}

.article-text h2 {
    transition: 1s;
}

.article-text h2:hover {
    color: #000;
    transition: 1s;
}

time {
    font-size: 10px;
    color: gray;
}

.data {
    margin-top: 5px;
}

.article-img {
    width: 210px;
    height: 210px;
    overflow: hidden;
}

.article.img img {
    object-fit: cover;
}

aside {
    margin-top: 70px;
    border-left: 1px solid rgb(183, 183, 183);
    margin-left: 15px;
    padding-left: 50px;
}

.perfil img {
    height: 260px;
    transition: all 2s;
}

.perfil img:hover {
    transform: scale(1.2);
    transform: scale(1.2);
}

.aside-articles {
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid rgb(183, 183, 183);
}

.aside-articles ul {
    padding-top: 30px;
}

.aside-articles ul li {
    margin: 0 0 40px 0;
}

.aside-articles a {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    transition: 1s;
}

.aside-articles a:hover {
    background-color: #E6DBD5;
    border-color: white;
    transition: 1s;
}

footer {
    background-color: #E6DBD5;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-bottom: 50px;
    border-radius: 0 0 10px 10px;
    padding-bottom: 25px;
}

.footer-mapsite li {
    padding: 10px 0 10px 0;
    font-size: 15px;
    text-align: left;
}

.footer-mapsite li a {
    color: grey;
    padding: 8px;
    box-shadow: inset 0 0 0 0 #7b7775;
    color: #7b7775;
    transition: color .2s ease-in-out, box-shadow .1s ease-in-out;
    border-radius: 10px;
}

.footer-mapsite a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #7b7775;
    transition: 1s;
}

.footer-info li {
    text-align: left;
    padding: 1px 0 10px 0;
    font-size: 15px;
    transition: all 0.5s;
}

.footer-info li:hover {
    transform: scale(1.5);
    transform: scale(1.5);
}

.footer-info li img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.footer-info li a {
    color: grey;
}

.footer-networks ul li img {
    width: 40px;
    height: 40px;
}

.footer-networks a {
    display: block;
}

.footer-networks img {
    transition: all .5s;
    border: 1px solid transparent;
}

.footer-networks img:hover {
    border: 1px solid grey;
    border-radius: 50%;
}